body {
    margin: 0;
    padding: 0;
    background-color: rgba(250, 250, 255, 1);
}

h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Montserrat';
    text-decoration: none;
}
.landing {
    /* height: 100vh; */
    width: 100%;
    
}

.header {
    padding: 20px 100px 20px 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title a {
    font-size: 28px;
    font-weight: bold;
    color: #218CE2;
    font-family: 'Poppins';
}

.navlinks .nav-item {
    padding: 5px 15px 5px 15px;
    color: #218CE2;
    transition: all 0.3s ease;
    border-radius: 5%;
}
.nav-item:hover {
    background-color: rgba(100, 100, 255, 0.1)
}

.onboarding-buttons * {
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.login-button {
    background: none;
    outline: none;
    border: none;
    color: #218CE2;
    
}

.login-button:hover {
    background-color: rgba(100, 100, 255, 0.2);
}

.sign-up-button {
    color: white;
    background: linear-gradient(90deg,#218CE2, #3AA6C9);
    font-weight: bold;
}

.sign-up-button:hover {
    background: linear-gradient(90deg,#3AA6C9, #218CE2);
}

.main-area {
    margin-left: 100px;
    margin-right: 100px;
    padding: 1rem 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    background-color: white;

}

.text-area {
    min-width: 35%;
}

.title-text {
    font-size: 3rem;
    color: #218CE2;
    margin-bottom: 0;
}

.subtitle-text {
    color: #214F74;
}

.get-started-button {
    padding: 0.7rem 2rem;
    outline: none;
    background: linear-gradient(90deg,#218CE2, #3AA6C9);
    color: white;
    /* font-weight: bold; */
    font-size: 1.2rem;
    border: none;
    cursor: pointer;

}

.get-started-button:hover {
    background: linear-gradient(90deg,#3AA6C9, #218CE2);
}

.image-container * {
    width: 100%;
    height: 100%;
}


.footer {
    background-color: rgba(10, 118, 233, 0.1);
    margin-top: 5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    color: #214F74;
}