.Login {
    width: 100%;
    height: 100vh;
    background-image: url('../public/images/graduate_students.jpg');

    background-size: cover;
}


.Login-form-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;

    width: 60%;
    height: 60%; 

    border-radius: 3%;

    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.Login-form {
    
    width: 50%;
    padding: 1rem;
}

.Login-form h1 {
    color: #D49E35;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.center-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-form hr {
    border: 2px solid #D49E35;
    opacity: 1;
    border-radius: 19px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.Login-form input {
    border: 1px solid #f7cb74;
    padding: 4px 15px;
    border-radius: 1%;
    margin: 0;
}

.Login-form-container-right {
    background: linear-gradient(45deg,#FFBE40, #D49E35);
    width: 50%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    text-align: center;
}

.Login-form-container-right hr {
    border: 3px solid white;
    opacity: 1;
    border-radius: 19px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.Login-form-container-right h1 {
    font-weight: bold;
    font-size: 35px;
}

.Login-form-container-right p {
    margin-bottom: 3rem;
}

.Login-form-container-right .sign-up {
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

