.header {
  padding: 20px 100px 20px 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .title a {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: #FFBE40;
  font-family: 'Poppins';
}

.navlinks .nav-item {
  text-decoration: none;
  padding: 10px 15px;
  color: #FFBE40;
  transition: all 0.3s ease;
  border-radius: 5%;
}
.nav-item:hover {
  background-color: rgba(252, 163, 29, 0.15)
}

.onboarding-buttons * {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;

}

.login-button {
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  color: #FFBE40;
  
}

.login-button:hover {
  background-color: rgba(252, 163, 29, 0.15);
}

.sign-up-button {
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg,#D49E35, #FFBE40);
  font-weight: bold;
}

.sign-up-button:hover {
  background: linear-gradient(90deg,#FFBE40, #D49E35);
  color: white;
}